{% extends 'base.html' %}

{% block content %}
<div>

    <h1 class="text-2xl font-bold mb-4 mx-auto">Comparison Results</h1>
</div>
<div style="display: flex;align-items: center;justify-content: center;">
    <table class="mb-8">
        <thead>
            <tr>
                <th class="px-4 py-2 bg-blue-100">File 1 Chunks</th>
                <th class="px-4 py-2 bg-blue-100">File 2 Chunks</th>
            </tr>
        </thead>
        <tbody>
            {% for x in ans %}
            <tr>
                <td class="border px-4 py-2">{{x}}</td>
                <td class="border px-4 py-2">{{ans[x]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="flex">
    <div class="w-1/2 mr-4">
        <img src="static/1-wordcloud.png" alt="Word Cloud 1" class="w-full" />
    </div>
    <div class="w-1/2">
        <img src="static/2-wordcloud.png" alt="Word Cloud 2" class="w-full" />
    </div>
</div>
{% endblock %}