{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font relative" data-filename="{{ filename }}" inputfiletype="Code" file="{{text}}">
    <div class="container px-5 py-24 mx-auto">
        <h1 class="text-4xl font-bold text-center text-gray-900 py-3">Similarity</h1>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" id="table">
                <thead class="text-xl text-gray-700 uppercase  bg-blue-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3" >
                            File 1
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Similarity
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Compare
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}                    
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" data-file1="{{ result[1] }}">
                            {{result[1]}}
                        </th>
                        <td class="px-6 py-4">
                            {{ '%.2f' | format(result[0] * 100) }}%
                            {% if inputfiletype == 'Code' %}
                                {% if result[0] > 0.6 %}
                                    <span class="px-2 py-1 ml-2 text-xs text-white bg-red-500 rounded">High</span>
                                {% elif result[0] > 0.45 %}
                                    <span class="px-2 py-1 ml-2 text-xs text-white bg-yellow-500 rounded">Medium</span>
                                {% else %}
                                    <span class="px-2 py-1 ml-2 text-xs text-white bg-green-500 rounded">Low</span>
                                {% endif %}
                            {% endif %}
                            {% if inputfiletype == 'Text' %}
                                {% if result[0] > 0.8 %}
                                    <span class="px-2 py-1 ml-2 text-xs text-white bg-red-500 rounded">High</span>
                                {% elif result[0] > 0.6 %}
                                    <span class="px-2 py-1 ml-2 text-xs text-white bg-yellow-500 rounded">Medium</span>
                                {% else %}
                                    <span class="px-2 py-1 ml-2 text-xs text-white bg-green-500 rounded">Low</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <button class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-700 compare-btn">Send</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    window.downloadCSV = function(filetype) {
        const table = document.getElementById('table');
        let data = [];
        const rows = table.querySelectorAll('tr');  // Only select rows within tbody to avoid headers
        var filename = document.querySelector('section').getAttribute('data-filename');
        var file2 = document.querySelector('section').getAttribute('file');

        // Extract text from each row
        for (const row of rows) {
            const rowData = [];
            const cells = row.querySelectorAll('th, td');
            for (let i = 0; i < cells.length - 1; i++) { // Exclude the last cell (Compare button)
                rowData.push('"' + cells[i].innerText.replace(/"/g, '""') + '"');  // Handle quotes
            }
            data.push(rowData.join(','));
        }

        const csvContent = data.join('\n');
        const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = `${filename}-${filetype}.csv`;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    };

    document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll('.compare-btn');
        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var parentRow = button.closest('tr');
                var file1 = parentRow.querySelector('[data-file1]').getAttribute('data-file1');
                var file2 = document.querySelector('section').getAttribute('file');
                console.log("file1", file1);
                console.log("file2", file2);
                if (file1 && file2) {
                    window.location.href = `/comparefiles?filepath1=${encodeURIComponent(file1)}&filepath2=${encodeURIComponent(file2)}`;
                } else {
                    console.error('File paths not found');
                }
            });
        });
    });
</script>

{% endblock %}


